:root {
  --brand-color-dark: #2e2f42;
  --brand-color-white: #f4f4fd;
  --brand-color-logo: #4d5ae5;
  --hover-color-link: #404bbf;
  --sub-text-label: #8e8f99;
  --text-description: #434455;
  --hero-grad: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
  --delay-hover: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0 16px;
  margin: 0 auto;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.section-description {
  line-height: 1.5;
  color: var(--text-description);
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--brand-color-dark);
}

.buttons {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--brand-color-logo);
  background-color: #f4f4fd;
  padding: 12px 24px;
}

/* =======HEADER========*/
.header-container {
  width: 100%;
}
.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}

.logotype {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color-logo);
}

.page-nav {
  display: block;
}

.header-container {
  display: flex;
  align-items: center;
}

.contact {
  margin-left: auto;
}

.contact-info {
  display: none;
}

.menu {
  display: none;
}

.logo-dark {
  color: var(--brand-color-dark);
}

.menu-open-mob {
  margin-left: auto;
  background-color: transparent;
  border: none;
  padding: 0;
}

.menu-link {
  font-weight: 500;
  line-height: 1.5;
  color: var(--brand-color-dark);
  margin-bottom: 28px;
  transition: color var(--delay-hover);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--hover-color-link);
}

.contact-link {
  font-style: normal;
  line-height: 1.5;
  color: #434455;
  transition: color var(--delay-hover);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--brand-color-logo);
}

.mobile-menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 80px 40px 40px;
}

.mobile-menu {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffff;
  transition: opacity var(--delay-hover), visibility var(--delay-hover);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu-close-btn {
  position: absolute;
  top: 27px;
  right: 19px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  align-items: center;
  display: flex;
  justify-content: center;
}

.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--brand-color-dark);
  transition: color(--delay-hover);
}

.current-mob {
  color: var(--hover-color-link);
}

.mobile-menu-link:focus {
  color: var(--brand-color-logo);
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-soc-link {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--brand-color-logo);
  margin-bottom: 40px;
}

.mobile-menu-soc-link-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-transform: none;
  color: var(--text-description);
  margin-bottom: 48px;
}

.team-soc-list-mobile {
  display: flex;

  gap: 56px;
  justify-content: start;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

/* =========HERO======== */
.hero {
  background-color: var(--brand-color-dark);
  background-image: var(--hero-grad), url(../images/hero/hero_mobile_1x.jpg);
  padding-top: 112px;
  padding-bottom: 112px;
  margin: 0 auto;

  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: var(--hero-grad), url(../images/hero/hero_mobile_2x.jpg);
  }
}

.hero-title {
  font-size: 36px;
  line-height: 1.11;
  max-width: 320px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #ffff;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
}

.hero-btn {
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.04em;
  color: #ffff;
  background-color: var(--brand-color-logo);
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color var(--delay-hover);
}

.hero-btn:is(:hover, :focus) {
  background-color: var(--hover-color-link);
}

/* =========BENEFITS======== */

.benefits-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--brand-color-dark);
  margin-bottom: 8px;
}

.benefits-wrap {
  display: none;
}
.work-section {
  display: none;
}

/* =========TEAM======== */
.team-section {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--brand-color-dark);
}
.section-team {
  background-color: var(--brand-color-white);
}

.team-section {
  margin-bottom: 72px;
}
.employees {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #ffff;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-headline {
  margin-bottom: 8px;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.team-text {
  margin-bottom: 8px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-item {
  width: 264px;
}

.team-soc-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--brand-color-logo);
  transition: background-color var(--delay-hover);
}

.team-soc-link:is(:hover, :focus) {
  background-color: var(--hover-color-link);
}

/* =========PORTFOLIO======== */
.portfolio {
  padding-top: 96px;
}

.buttons-gallery {
  border-radius: 4px;
  height: 48px;
  border: none;
  transition: background-color var(--delay-hover), color var(--delay-hover),
    box-shadow var(--delay-hover);
}

.buttons-gallery:is(:hover, :focus) {
  color: #ffff;
  background-color: var(--brand-color-logo);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-list-gallery {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.gallery-sup-text {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid #e7e9fc;
  border-top: 0;
}

.gallery-title {
  margin-bottom: 8px;
}

.gallery-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-list {
  transition: box-shadow var(--delay-hover);
}

.portfolio-list:is(:hover, :focus) {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery-link:hover .gallery-descr,
.gallery-link:focus .gallery-descr {
  transform: translateY(0%);
}

.gallery-wrap {
  position: relative;
  overflow: hidden;
}

.gallery-descr {
  font-size: 16px;
  line-height: 1.5;
  color: var(--brand-color-white);
  position: absolute;
  top: 0;
  background-color: var(--brand-color-logo);
  padding: 40px 32px;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--delay-hover);
}

/* =========CUSTOMERS===== */
.customers-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
  justify-content: center;
}

.customers-link {
  width: 100%;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color var(--delay-hover);
}

.customers-icon {
  fill: #afb1b8;
  transition: fill var(--delay-hover);
}

.customers-item {
  width: calc((100% - 16px) / 2);
}

.customers-link:is(:focus, :hover) {
  border-color: var(--hover-color-link);
}

.customers-link:is(:focus, :hover) .customers-icon {
  fill: var(--hover-color-link);
}
/* =========FOOTER======== */
.footer {
  padding-top: 120px;
  padding-bottom: 120px;

  background-color: var(--brand-color-dark);
}

.footer .logotype {
  margin-right: 0;
}
.footer-logotype {
  padding-right: 0;
}
.footer-left > .logotype {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.footer-left {
  margin: 0 auto 72px;
}

.footer-text {
  line-height: 1.5;
  color: #e7e9fc;
  max-width: 264px;
  margin: 0 auto;
}

.logo-white {
  color: var(--brand-color-white);
}

.soc-media-subtitle {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: var(--brand-color-white);
  margin-bottom: 16px;
}

.footer-right {
  margin-bottom: 72px;
}

.soc-media-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.soc-media-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--delay-hover);
}

.soc-media-link:is(:hover, :focus) {
  background-color: #31d0aa;
}

.footer-form-label {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.55;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-form-input {
  background-color: #2e2f42;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 100%;
  max-width: 398px;
  height: 40px;
  padding-left: 16px;
  color: #ffff;
  display: block;
  margin: 0 auto 16px;
}

.footer-form-button {
  position: relative;
  margin: 0 auto;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--brand-color-logo);
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  border: none;
  padding: 8px 24px;
  transition: background-color var(--delay-hover);
}

.footer-form-button:hover,
.footer-form-button:focus {
  background-color: var(--hover-color-link);
}

.footer-form-icon {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
}

.footer.foot-cont {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-pos.container.portf-foot {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: normal;
}

.footer-left.portf-left {
  margin: 0;
}

.footer-left.portf-left > .logotype.portf-logo {
  display: block;
}

.footer-right.portf-right {
  margin-left: 120px;
}

.footer-text.portf-text {
  margin-bottom: 0;
  width: 264px;
}

.footer-form.portf-foot {
  margin-left: 80px;
  display: block;
}

.footer-form-label.potf-label {
  display: block;
}

.footer-form-wrapper.portf-wrap {
  display: flex;
}

.footer-form-button.foot-sub {
  margin-left: 24px;
}

/* ========BACKDROP============ */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--delay-hover), visibility var(--delay-hover);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 392px;
  min-height: 586px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px;
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  align-items: center;
  display: flex;
  justify-content: center;
}

.modal-close:is(:focus, :hover) {
  background-color: var(--brand-color-logo);
}

.modal-close:is(:focus, :hover) .backdrop-close-icon {
  fill: #ffff;
}

.backdrop-close-icon {
  transition: fill var(--delay-hover);
}

.modal-title {
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  color: var(--brand-color-dark);
  margin-bottom: 14px;
}

.modal-form-desc {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--sub-text-label);
  margin-bottom: 4px;
}

.modal-sub-label {
  display: block;
  margin-bottom: 8px;
}

.modal-form-input-wrapper {
  position: relative;
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  color: #000000;
  font-size: 18px;

  transition: border-color var(--delay-hover);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--brand-color-logo);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--brand-color-logo);
}

.modal-form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--delay-hover);
}

.modal-form-message {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.33;
  color: #000000;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--delay-hover);
}

.modal-sub-label-margin {
  display: block;
  margin-bottom: 16px;
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--brand-color-logo);
}

.modal-form-check-descr span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--brand-color-dark);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color var(--delay-hover);
}

.modal-form-check:checked + .modal-form-check-descr span {
  background-color: var(--brand-color-logo);
  border: none;
}

.modal-form-check-descr {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
  align-items: center;
  margin-bottom: 24px;
}

.privacy-policy-link {
  display: contents;
}

.modal-form-submit {
  min-width: 169px;
  height: 56px;
  background: var(--brand-color-logo);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffff;
  border: none;
  margin: 0 auto;
  display: block;
  margin-bottom: 24px;
  transition: background-color var(--delay-hover);
}

.modal-form-submit:is(:hover, :focus) {
  background-color: var(--hover-color-link);
}
